.card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    background-color: white;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    /* height: 120px; */
    min-height: 120px;
    margin: 20px 20px 20px 20px;
    border-left: 15px solid grey;
    -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.514);
       -moz-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.514);
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.514);
    }
    
    .card-title {
    margin-left: 10px;
    font-weight: bold;
    }
    
    .card-subtitle {
        margin-left: 10px;
    }
    
    .card-body {  
        position: absolute;
        width: 100%;
    }
    
    .card-text {
     margin-left: 10px;
    }
    
    .tBtn {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        /* z-index: 400; */
    }

    #btnAdd {
        position: absolute;
        right: 40px;
    }
    
    .alertImg {
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 0;
        top: 10px;
        right: 15px;
    }
    
    .ticket {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        background-color: white;
        -webkit-border-radius: 10px;
           -moz-border-radius: 10px;
                border-radius: 10px;
        /* height: 120px; */
        min-height: 120px;
        margin: 20px 20px 20px 20px;
        -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.514);
           -moz-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.514);
                box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.514);
    }
    .ticket-header{
     font-size: 20px;
     font-weight: bold;
    }
    .ticket-body{
        margin: 10px;
    }

    hr {
        color: black;
    }
